@model IEnumerable<Online_Book_Store.BookStore.Data.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="rowbookcart">



    @foreach (var item in Model)
    {
        <a class="childrow1a" asp-controller="Categories" asp-action="GetBookinCategory" asp-route-bookcategory="@item.Name">


            <div class="childrow2froCategories">
                <p class="prowName">

                    @Html.DisplayFor(modelItem => item.Name)
                </p>

                <p class="prowCategories">

                    @Html.DisplayFor(modelItem => item.Discription)
                </p>



            </div>
        </a>



    }
</div>
